@media(max-width: 760px){
    /* S0 loading //////////////////////////////////////////////////////////////////////////////////*/
    .loa{      
        font-size: 24px;     
        line-height: 120px;
      }
    /* S1 Home111 //////////////////////////////////////////////////////////////////////////////////*/
    .con1{
        position: absolute;
        font-size: 7em;
        width: 80%;
        top: 47%;
        left: 48%;
        transform: translate(-50%,-50%);
    }
    .s1{
        width: 100vw;
        height: 100vh;  
    }
    .con11{
        width: 100%;
        height: 100%;   
    }
    /*  S2 About222  ////////////////////////////////////////////////////////////////////////////////*/
    .s2{
        width: 100vw;
        height: 100vh;  
    }
    #con29{
        /*width: 100vw;
        height: 100vh;*/
        background-color: #000022;
        width: 100%;
        height: 100%;   
    }
    .main21 {
         /*width: 100vw;
        height: 100vh;*/
        width: 100%;
        height: 100%;   
    }
    
    /*h1*/
    .con21{
         top: 6%;
        left: 50%;
        transform: translate(-50%)       
    }
    .con22{
        font-size: 45px;
      
    }
    
    /* Anders img*/
    .con23{
        width: 25%;
        top: 3%;
        left: 9%;
    }
    /*text*/
    .text21{
     top: 17%;
     margin-top: 0%;
     /*margin-left: 7%; */
     margin-left: 6%;
     margin-right: 7%;
     padding-left: 5%;
     padding-top: 7%;
     padding-right: 5%;
     /*padding-bottom: 4%;*/
    }
    .text21 p {
        
        /*font-size: 0.9em;*/
        font-size: 0.9em;
    }
    .con24{
        top: 85%;
        width: 0;
    }
    .con25{
        top: 85%;
        width: 0;
    }


    /*  S3 EP333  ////////////////////////////////////////////////////////////////////////////////*/
    .s3{
        width: 100vw;
        height: 100vh;  
    }
    .con31{
        width: 100%;
        height: 100%;   
    }
    /*h1*/
    .con36{
      /*top: 6%;*/
      top: 7%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 45px;
    }
    /*  cover pic 2 blue */
  .con35 {
    height: 42%;
    top: 58%;
    } 
    /*albam record*/
    .swiper-wrapper {
        left: 25%;
        /*top: 14%;*/
        top: 16%;
    }
    /*     1/3 button       */
    .swiper-button-prev {
          left: 34%;
          /*top: 80%;*/
          top: 87%;
        
    } 
    .swiper-button-next{
        left: 79%;
        /*top: 80%;*/
        top: 87%;
        
    } 
    .swiper-pagination { 
        left: 8%;
        /*top: 77%;*/
        top: 84%;
    }

    /*  text/mask */
    /*
    .text321 {
    top: 20%;
    left: 20%;
    width: 60%;
    font-size: 0.9em;
    }
    .mask321 {     
        height: 73vh;   
        top: 14%;
        left: 8%;
       width: 84%;
    }
    .text322 {
        top: 20%;
        left: 20%;
        width: 60%;
        font-size: 0.9em;
    }
    .mask322{     
         height: 73vh;   
         top: 14%;
         left: 8%;
         width: 84%;
    }
    .text323 {
        top: 20%;
        left: 20%;
        width: 60%;
        font-size: 0.9em;
    }
    .mask323 {
        height: 73vh;   
         top: 14%;
         left: 8%;
         width: 84%;
    }
    */
    .text320, .text321, .text322, .text323, .text324, .text325  {
        top: 20%;
        left: 20%;
        width: 60%;
        font-size: 0.9em;
    }
    .mask320, .mask321, .mask322, .mask323, .mask324, .mask325 {
        height: 73vh;   
         top: 14%;
         left: 8%;
         width: 84%;
    }
    /*
    .text325 {
        top: 20%;
        left: 20%;
        width: 60%;
        font-size: 0.9em;
    }
    .mask325 {
       height: 73vh;   
         top: 14%;
         left: 8%;
         width: 84%;
    }
    */
    /* Buy/Listen Now */
    .text301 {
        width:38%;
    }
    /* animation  */
#bbbb3 {
    top: 5%;
    }
    /*  S4 Video444  ////////////////////////////////////////////////////////////////////////////////*/
    .s4{
        width: 100vw;
        height: 100vh;  
    }
    .con41{
        width: 100%;
        height: 100%;   
    }
    /*  h1   */
    .title4  {
    /*top: 3%;
    left: 33%;
    font-size: 25px;*/
     top: 7%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 45px;
   
    } 
    
    /*  bass black1  */
    .con44 {
    height: 80%;
    top: 14%;
       left: 8%;
       width: 84%;
    }
    /* text  */
    .con43 {
    top: 19%;
    left: 20%;
    width: 60%;
    /*font-size: 20px;*/
    font-size: 1em;
    }
    /*pic*/
    .distortion4 {
        display: none;
    } 
    /* red object   */
    
    #con442 {
    display: none;
    }
    
    .con412 {
    position: absolute;
    display: block;
    z-index: 11;
    width: 100%;
    top: 52%;
    left: 15%;
    }
    
    /* S5 Photo666 /////////////////////////////////////////////////////////////////////////////////*/
    .s5{
        width: 100vw;
        height: 100vh;  
    }
    .con6111{
          width: 100%;
        height: 100%;   
    }
    
    #base61{
        width: 100%;
        height: 100%;   
    }
    #base62{
        width: 100%;
        height: 100%;   
    }
    /* H1    */   
    .title6 {
      top: 7%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 45px;
 
    } 
    /*base white */
    /*.con62 {
        display: none;
    }*/
    /*//////////////////////////////*/
    /* pic1   */
    .loop_css {
    width: 220%;
    /*height: 50%;*/
    height: 50%;
    top: 27%;
    }  
    /* white */ 
    /*
    .con62 {
        height: 63%;
        top: 37%; 
    }
    */
    /* S6 Live555 /////////////////////////////////////////////////////////////////////////////////*/
    .s6{
        width: 100vw;
        height: 100vh;  
    }
    .con71{
        width: 100%;
        height: 100%;   
    }
   /* #myCanvas73{
        display: none;
    }*/
    /*  h1    */
    .con702 {
     top: 7%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 45px;
 
    }
  
    /*//////////////////////////////*/
    .shiro72{ 
        height: 50%;
        top: 50%;
    }

    
    #myCanvas73{
        top:45%;
        left:50%;
    }

        
        /*.con703{
          width: 100%;
          height: 50%;
          top: 0%;
          left: 0%;
         }*/
    /*//////////////////////////////*/
    /* S7 Contact777  /////////////////////////////////////////////////////////////////////////////////*/
    .s7{
        width: 100vw;
        height: 100vh;  
    }
    .base711{
        width: 100%;
        height: 100%;   
    }
    /*  h1 title  */
    .con721 {
    
     top: 7%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 45px;
    
    }
    /*  mask   */
    .con711 { 
         /*top: 12%;*/
         top:15%;
    width: 84%;
    }
    
}